.circle_type_one {
    position: fixed;
    height: 20vh;
}

.circle_type_one * {
    transition: all 3s;
}

.circle-0 {
    fill: white;
    top: 5%;
    left: 5%;
}

.circle-0 * {
    fill: white;
}

.circle-1 {
    top: 5%;
    left: 5%;
}

.circle-1 * {
    fill: #D9D9D9;
}

.circle-2 {
    -webkit-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
}

.circle-2 * {
    fill: #004C93;
}