.square_type_one {
    position: fixed;
    width: 15%;

}

.square_type_one * {
    opacity: 0;
    transition: all 3s;
}

.square-0 {
    fill: white;
    top: 5%;
    left: 5%;

}

.square-0 * {
    fill: white;
}

.square-1 {
    top: 5%;
    left: 5%;
}

.square-1 * {
    fill: #D9D9D9;
}

.square-2 {
    top: 30%;
    left: 5%;
}

.square-2 * {
    opacity: 1;
    fill: #D9D9D9;
}

@media only screen and (min-width: 0px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .square-type-one {
        display: none;
    }

    /* 
    .square-1 * {
        fill: #004C93;
    } */

    /* .square-2 * {
        fill: #004C93;
    } */
}