.triangle_type_one {
    position: fixed;
    height: 10vh;
}

.triangle_type_one * {
    transition: all 3s ease-in;
}

.triangle-0 {
    fill: white;
    top: 80%;
    left: 20%;
}

.triangle-0 * {
    fill: white;
}

.triangle-1 {
    top: 80%;
    left: 20%;
}

.triangle-1 * {
    fill: #D9D9D9;
}

.triangle-2 {
    top: 20%;
    left: 50%;
    /* transform: translate(50%, 50%); */
    will-change: transform;
}

.triangle-2 * {
    fill: #0085FF;
}