.triangle_type_one {
    position: fixed;
    height: 10vh;
}

.triangle_type_one * {
    transition: all 3s;
}

.triangle-0 {
    fill: white;
    top: 80%;
    left: 20%;
}

.triangle-0 * {
    fill: white;
}

.triangle-1 {
    top: 80%;
    left: 20%;
}

.triangle-1 * {
    fill: #D9D9D9;
}

.triangle-2 {
    top: 85%;
    left: 30%;
}