.links {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 3;
    width: 10%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.links * {
    min-width: 40px;
    flex-basis: 40px;
    flex-grow: 1;
    padding: 10px;
    transition: fill 2s;
}

.linkSVG {
    padding: 0;
    cursor: pointer;
}

.linkSVG:hover path:first-of-type {
    fill: #004C93;
}