.side_bar {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0 2%;
    z-index: 2;
}

.dot {
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    display: inline-block;
    margin: .5rem 0;
    transition: all .75s;
}

.light {
    background-color: white;
}

.dark {
    background-color: #0085FF;
}

.dot:hover {
    cursor: pointer;
    background-color: #004C93;
}

.active {
    background-color: #bbb;
}

.horizontal {
    position: relative;
    flex-direction: row;
    height: 2rem;
    margin: 2% 0;
}