#tp-body {
    background-color: #0085FF;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    scroll-snap-align: start;
    position: relative;
    /* overflow-y: scroll; */
}

#tp-body header {
    color: white;
    padding-left: 10%;
}

.main-Title {
    font-size: 5rem;
}

.sub-Title {
    font-size: 3rem;
}