.triangle_type_one {
    position: fixed;
    height: 10vh;
}

.triangle_type_one * {
    transition: all 3s ease-in;
}

.triangle-0 {
    fill: white;
    top: 80%;
    left: 20%;
}

.triangle-0 * {
    fill: white;
}

.triangle-1 {
    top: 80%;
    left: 20%;
}

.triangle-1 * {
    fill: #C4E3FF;
}

.triangle-2 {
    top: 10%;
    left: 80%;
    /* transform: translate(50%, 50%); */
    will-change: transform;
}

.triangle-2 * {
    fill: #C4E3FF;
}

.triangle-3 {
    top: 20%;
    left: 85%;
    /* transform: translate(50%, 50%); */
    will-change: transform;
}

.triangle-3 * {
    fill: #C4E3FF;
}

.triangle-4 {
    top: 82%;
    left: 64%;
}

.triangle-4 * {
    fill: #C4E3FF;
}

@media only screen and (min-width: 0px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

    .triangle-type-one,
    .triangle-type-one * {
        display: none;
    }

    /* 
    .triangle-0 * {
        fill: #004C93;
    } */

    /* .triangle-1 * {
        fill: #004C93;
    } */

    /* .triangle-2 * {
        fill: #004C93;
    } */
}