.prof_container {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    display: flex;
    justify-content: space-around;
    /* max-height: 5vh; */
    max-width: 30%;
    max-height: 150px;
    margin: 5%;
    /* margin: 10px; */
    flex-direction: row;
}

.prof_logo {
    display: block;
    flex-basis: 60px;
    flex-grow: 1;
    transition: all .85s ease-in;
    /* max-width: 10%; */
}

.isInvisible {
    opacity: 0;
}

.prof_logo::after {
    content: "React.js";
    font-size: 1rem;
    position: relative;
    bottom: 0;
    text-align: center;
}